body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
}

.header {
  background: #111;
  color: white;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  border-bottom: 3px solid #ff007a;
}

.search-bar {
  position: absolute;
  left: 20px;
  top: 10px;
}

.search-bar input {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.top-links {
  position: absolute;
  right: 20px;
  top: 10px;
  display: flex;
  gap: 15px;
  font-size: 0.9rem;
}

.title {
  font-size: 2.2rem;
  margin: 15px 0 5px;
  font-family: 'Segoe UI', cursive;
}

.highlight {
  color: #ff6666;
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding-bottom: 8px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 4px 10px;
  transition: color 0.2s;
}

.main-nav a:hover,
.main-nav a.active {
  color: #ff007a;
  border-bottom: 2px solid #ff007a;
  cursor: pointer;
}
.intro {
  padding: 40px 20px;
  background: #f9f9f9;
  text-align: center;
}

.intro-content {
  max-width: 800px;
  margin: 0 auto;
}

.intro h2 {
  color: #ff007a;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 30px;
}

.productos {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 60px;
  background: white;
  flex-wrap: wrap;
}

.productos img {
  width: 100%;
  max-width: 500px; /* más grande aún */
}


.productos img:hover {
  transform: scale(1.03);
}

.productos p {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}
